{% from "macros.html" import render_field %}
{% extends "base.html" %}
{% block content %}
    <ul class="navigation_bar">
        {% for item in nav.adminpanel %}
            <li class="menu_item">
                <a class="{{ 'active_menu_item' if item.is_active else 'menu_item' }}"
                   href="{{ item.url }}">
                    {{ item.label }}
                </a>
            </li>
        {% endfor %}
    </ul>
    {% if form %}
        <hr>
    {% endif %}
{% block configuration %}{% endblock %}
{% endblock %}
