{% from "macros.html" import render_field %}
{% extends "base.html" %}
{% set current_page = "adminpanel" %}
{% block content %}
    <ul class="navigation_bar">
        {% for item in nav.adminpanel %}
            <li class="menu_item">
                <a class="menu_item" href="{{ item.url }}">{{ item.label }}</a>
            </li>
        {% endfor %}
    </ul>
    <hr>
{% block configuration %}{% endblock %}
    {% if form %}
        <form action="" method="post" name="config">
            {{ form.hidden_tag() }}
            {% for field in form %}
                {{ render_field(field) }}
            {% endfor %}
        </form>
    {% endif %}
{% endblock %}
