# log files
/scripts/log/
log/

# virtualenv
/venv/

# config; an example config is provided in website_config.py.example
/config/website_config.py
/config/website_test_config.py

# migrations
/migrations/
/scripts/migrations/

# pycharm files
/.idea/

# pycache
/__pycache__/

# list of stuff to do
TODO.txt
