# temporary files
/tmp

# config; an example config is provided in website_config.py.example
/website_config.py

# virtualenv
/virtualenv

# migrations
/migrations

# pycharm files
/.idea

# pycache
__pycache__/

# cmd commands and database password
how to create db.txt

TODO.txt