Flask==0.10.1
Flask-Login==0.3.2
Flask-Migrate==1.6.0
Flask-Markdown==0.3
Flask-SQLAlchemy==2.1
Flask-Script==2.0.5
Flask-WTF==0.12
Jinja2==2.8
Mako==1.0.3
MarkupSafe==0.23
SQLAlchemy==1.0.9
SQLAlchemy-Utils==0.31.2
Tempita==0.5.2
WTForms==2.0.2
Werkzeug==0.11
alembic==0.8.3
decorator==4.0.4
itsdangerous==0.24
passlib==1.6.5
pbr==1.8.1
pip==7.1.2
psycopg2==2.6.1
python-editor==0.4
setuptools==18.5
six==1.10.0
sqlparse==0.1.18
# javascript libraries
# jquery-2.1.4.js
# showodnw.js (19/10/2015)