{% extends "adminpanel.html" %}
{% block configuration %}
    PROJECTS CONFIGURATION<br><br>
    {% if edit_form %}
        <form action="" method="post" name="config" id="edit_form">
            {{ edit_form.hidden_tag() }}
            {% for field in edit_form %}
                {{ render_field(field) }}
            {% endfor %}
        </form>
    {% endif %}
    <br><br>
    CONTENT MARKDOWN PREVIEW
    <div id="content_preview">

    </div>
    <script type="text/javascript">
        $('#content').bind('blur keyup',function(){
            var content = document.getElementById('content').value;
            var div = document.getElementById('content_preview');
            div.innerHTML = content;
        });
    </script>
{% endblock %}