{% extends "adminpanel.html" %}
{% include "jquery.html" %}
{% include "showdown.html" %}
{% block configuration %}
    PROJECTS CONFIGURATION<br><br>
    {% if edit_form %}
        <form action="" method="post" name="config" id="edit_form">
            {{ edit_form.hidden_tag() }}
            {% for field in edit_form %}
                {{ render_field(field) }}
            {% endfor %}
        </form>
    {% endif %}
    <br><br>
    CONTENT MARKDOWN PREVIEW
    <div id="content_preview">

    </div>
    <script type="text/javascript">
        function preview(){
            var content = document.getElementById('content').value;
            var div = document.getElementById('content_preview');
            var converter = new showdown.Converter();
            var content_html = converter.makeHtml(content);
            div.innerHTML = content_html;
        }

        $('#content').bind('input propertychange', preview);
        $('#content').ready(preview);
    </script>
{% endblock %}
