{% extends "base.html" %}
{% block content %}
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p>
            Username<br>
            {{ form.username(size=20) }} <br>
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span> <br>
            {% endfor %}
        </p>
        <p>
            Password<br>
            {{ form.password(size=20) }} <br>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span> <br>
            {% endfor %}
        </p>
        <p>
            {{ form.remember_me }} Remember Me
        </p>
        <p><input type="submit" value="Sign In"></p>
    </form>
{% endblock %}