{% extends "base.html" %}
{% block content %}
    <h1>Sign Up</h1>
    <form action="" method="post" name="signup">
        {{ form.hidden_tag() }}
        <p>
            Username<br>
            {{ form.username(size=20) }} <br>
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span> <br>
            {% endfor %}
        </p>
        <p>
            Password<br>
            {{ form.password(size=20) }} <br>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span> <br>
            {% endfor %}
        </p>
        <p>
            Repeat Password<br>
            {{ form.password2(size=20) }} <br>
            {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span> <br>
            {% endfor %}
        </p>
        <p><input type="submit" value="Sign Up"></p>
    </form>
{% endblock %}