# Flask-WTF settings
SECRET_KEY = 'my_super_duper_secret_key'

# Database settings
DATABASE_USERNAME = 'postgres'
DATABASE_PASSWORD = 'postgres'
DATABASE_HOST = 'localhost'
DATABASE_NAME = 'database'
SQLALCHEMY_DATABASE_URI = 'postgresql://{}:{}@{}/{}'.format(DATABASE_USERNAME,
                                                            DATABASE_PASSWORD,
                                                            DATABASE_HOST,
                                                            DATABASE_NAME)
