{% from "macros.html" import render_field %}
{% extends "base.html" %}
{% block content %}
    Create new item<br><br>
    {% if form %}
        <form action="" method="post" name="config" id="form">
            {{ form.hidden_tag() }}
            {% for field in form %}
                {{ render_field(field) }}
            {% endfor %}
        </form>
    {% endif %}
    <br><br>
    ToDo:<br><br>
    {% for item in todo_items %}
        {{ item.get_category() }}, {{ item.get_priority() }}, {{ item.todo }}<br>
    {% endfor %}
{% endblock %}