{% macro get_href(orderby=None, order=None, delete=None, complete=None) %}
    {% if not order %}
        {% set order = request.args.get('order') %}
    {% endif %}
    {% if not delete and not complete %}
        {% if not order or order == 'desc' %}
            {% set order = 'asc' %}
        {% elif order == 'asc' %}
            {% set order = 'desc' %}
        {% endif %}
    {% endif %}
    {% if not orderby %}
        {% set orderby = request.args.get('orderby') %}
    {% endif %}
    {{ url_for('todo.index', delete=delete, complete=complete, orderby=orderby, order=order) }}
{% endmacro %}
{% from "macros.html" import render_field, render_datetime %}
{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('todo.static', filename='todo_style.css') }}">
    Create new item<br><br>
    {% if form %}
        <form action="" method="post" name="config" id="form">
            {{ form.hidden_tag() }}
            {% for field in form %}
                {{ render_field(field) }}
            {% endfor %}
        </form><br><br>
    {% endif %}
    <div id="todo_items">
        <table>
            <tr>
                <td>ToDo</td>
                <td>Delete</td>
                <td>Complete</td>
                <td><a href="{{ get_href('category') }}">Category</a></td>
                <td><a href="{{ get_href('priority') }}">Priority</a></td>
                <td><a href="{{ get_href('do_before') }}">Do before</a></td>
                <td><a href="{{ get_href('created_on') }}">Created on</a></td>
                <td><a href="{{ get_href('completed_on') }}">Completed on</a></td>
            </tr>
        {% for item in todo_items %}
            <tr>
                <td class="{{ 'open_todo_item' if not item.completed_on else 'completed_todo_item' }}">
                    {{ item.todo }}
                </td>
                <td><a href="{{ get_href(delete=item.id) }}">
                    <img src="{{ url_for('static', filename='red_x.png') }}" height = 20px>
                </a></td>
                <td><a href="{{ get_href(complete=item.id) }}">
                    <img src="{{ url_for('static', filename='green_check.png') }}" height = 20px>
                </a></td>
                <td>{{ item.category }}</td>
                <td>{{ item.priority }}</td>
                <td>{{ render_datetime(item.do_before) if item.do_before else '' }}</td>
                <td>{{ render_datetime(item.date_created) }}</td>
                <td>{{ render_datetime(item.completed_on) if item.completed_on else '' }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}