{% extends "base.html" %}
{% block content %}
    {% if active_stream %}
        <iframe id="player"
                width="1280"
                height="720"
                src="http://www.twitch.tv/{{ active_stream }}/embed/"
                frameborder="0">
        </iframe>
        {% if session['chat_enabled'] %}
        <iframe frameborder="0"
                scrolling="no"
                id="chat_embed"
                src="http://www.twitch.tv/{{ active_stream }}/chat"
                height="720"
                width="350">
        </iframe>
        {% endif %}
    {% endif %}

    <form action="" method="post" name="streamform">
        <input type="checkbox"
       name="enable_chat"
       value="enable_chat"
       {% if session['chat_enabled'] %}
           checked
       {% endif %}>Chat enabled
        <button type="submit" name="submit" value="Refresh">
            <span>Refresh</span>
        </button><br>
        {% for stream in streams %}
            <button type="submit" name="submit" value="{{ stream.channel }}">
                <span>{{ stream.channel }}</span><br>
                {% if stream.is_online %}
                    <span>[{{ stream.game }}] [{{ stream.viewers }}]</span>
                {% else %}
                    <span>[OFFLINE]</span>
                {% endif %}
            </button>
        {% endfor %}
    </form>
{% endblock %}
