{% extends "base.html" %}
{% block content %}
    <p><a href="https://mynano.ninja/account/daan-s-rep-node" class="text-dark">My Representative Node</a></p>
    <p><a href="{{ url_for('nano.monitor') }}" class="text-dark">Representative Node Monitor</a></p>
    <p><a href="{{ url_for('nano.donate') }}" class="text-dark">Donate</a></p>
    <p><a href="https://nanoticker.info/" class="text-dark">Network Statistics</a></p>
    <p><a href="https://nanocrawler.cc/" class="text-dark">Network Explorer</a></p>
{% endblock %}