{% extends "bootstrap/base.html" %}

{% block head %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='icon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if title %}
        <title>{{ title }} · www.daanlubbers.nl</title>
    {% else %}
        <title>www.daanlubbers.nl</title>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    {% for item in nav.main if item.show() %}
                        <li class="nav-item">
                            {% if item.is_active %}
                                <a class="nav-link active" href="{{ item.url }}">{{ item.label }}</a>
                            {% else %}
                                <a class="nav-link" href="{{ item.url }}">{{ item.label }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <span class="text-white ml-auto" id="digital_clock"></span>
        </nav>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}

        <div class="jumbotron">
            {% block content %}
            {% endblock %}
        </div>

        <footer class="blockquote-footer text-center">
            Rendered with <a href="https://flask.palletsprojects.com/" class="text-dark">Flask</a> in __EXECUTION_TIME__ <span class="text-primary">·</span> <a href="https://github.com/Daan4/website" class="text-dark">source code</a> <span class="text-primary">·</span> © Daan Lubbers 2021 <span class="text-primary">·</span> <a href="contact@daanlubbers.nl" class="text-dark">www.daanlubbers.nl</a>
        </footer>
    </div>

    <script>
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            var d = today.getDate();
            var M = today.getMonth();
            var y = today.getYear();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('digital_clock').innerHTML =
            ("0" + h).slice(-2) + ":" + ("0" + m).slice(-2) + ":" + ("0" + s).slice(-2) + " " + ("0" + d).slice(-2) + "/" + ("0" + (M + 1)).slice(-2) + "/" + (y + 1900);
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) {i = "0" + i};
            return i;
        }
        startTime();
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
{% endblock %}