{% extends "bootstrap/base.html" %}

{% block head %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='icon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if title %}
        <title>{{ title }} · www.daanlubbers.nl</title>
    {% else %}
        <title>www.daanlubbers.nl</title>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container">
        <nav class="navbar navbar-default">
            <ul class="nav nav-pills">
                {% for item in nav.main if item.show() %}
                    <li class="nav-item">
                        {% if item.is_active %}
                            <a class="nav-link active" href="{{ item.url }}">{{ item.label }}</a>
                        {% else %}
                            <a class="nav-link" href="{{ item.url }}">{{ item.label }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li><div>>{{ message }}<</div></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}

        <div>
            Rendered with <a href="https://flask.palletsprojects.com/">Flask</a> in __EXECUTION_TIME__ · <a href="https://github.com/Daan4/website">GitHub</a> · © Daan Lubbers 2020
        </div>
    </div>

    <script>
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('digital_clock').innerHTML =
            h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) {i = "0" + i};
            return i;
        }
        startTime();
    </script>
{% endblock %}