{% extends "base.html" %}
{% block content %}
    <h4>Links</h4>
    <p><a href="https://www.linkedin.com/in/daanlubbers" class="text-dark"><img src="{{ url_for('static', filename='LI-In-Bug.png') }}" style="height:32px;"/> LinkedIn - My resume</a></p>
    <p><a href="https://www.nano.org" class="text-dark"><img src="{{ url_for('static', filename='nano+mark+hi-res.png') }}" style="width:38px;"/> Nano Currency - Digital money for the modern world</a></p>
    <p><a href="https://www.github.com/Daan4" class="text-dark"><img src="{{ url_for('static', filename='GitHub-Mark-Light-32px.png') }}" class="px-1"/>GitHub - My public repositories</a></p>
    <p><a href="https://lichess.org/@/dnl" class="text-dark"><img src="{{ url_for('static', filename='5cfd2630-2a8f-4fa9-8f78-04c2d9f0e5fe_lichess-box-1024.webp') }}" style="width:32px;"/> &nbsp;Lichess - Challenge me</a></p>
{% endblock %}